body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

header h1 {
    margin: 0;
}

header a {
    color: #fff;
    text-decoration: none;
    float: right;
}

main {
    padding: 20px;
}

h2 {
    margin-top: 0;
}

.cart-items {
    display: flex;
    flex-wrap: wrap;
}

.cart-item {
    width: 20%;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 10px;
}

.cart-item img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.cart-item-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart-item-info h3 {
    margin: 0;
}

.cart-item-info p {
    margin: 5px 0;
}

.cart-item-info .quantity,
.cart-item-info .price {
    font-weight: bold;
}

.cart-total {
    border-top: 1px solid #ddd;
    padding: 10px;
    text-align: right;
}

.cart-total p {
    margin: 0;
}

.cart-total .total-price {
    font-size: 18px;
}

.checkout-button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    display: block;
    margin-top: 20px;
    text-align: center;
}

/* สไตล์สำหรับปุ่ม "+" และ "-" */
.cart-item .decrease-button,
.cart-item .increase-button {
    background-color: #4a4a4a; /* สีพื้นหลัง */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.cart-item .decrease-button:hover,
.cart-item .increase-button:hover {
    background-color: #282828; /* เปลี่ยนสีพื้นหลังเมื่อชี้เมาส์ */
}

