
<footer>
    <nav class="navbar navbar-expand-lg">
        <a class="ig" href="#!" role="button">
            <i class="fab fa-instagram"></i>
        </a>
        <a class="facebook" href="#!" role="button">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a class="line" href="#!" role="button">
            <i class="fab fa-line"></i>
        </a>
        <a class="line" href="#!" role="button" id="chat">
            <i class="fa-solid fa-comment" id="chat"></i>
        </a>
    </nav>
    
</footer>
    
</body>
</html>
