<nav class="nav-head">
    <div class="nav-container">
        <a href="/">
            <img src="/img/TL.png" class="logonav" alt="logo">
        </a>
        <div class="nav-profile">
            <div  onclick="opencart()" class="nav-profile-cart">
                <i class="fas fa-cart-shopping"></i>
                <div id="cartcount" class="cartcount" style="display: none;">
                </div>
            </div>
        </div>
    </div>
  </nav>