<%- include('partials/head.ejs') %>

<link rel="stylesheet" href="/css/cart.css">



<main>
    <h2>สินค้าในรถเข็น</h2>
    <section class="cart-items">
        <article class="cart-item">
            <img src="/img/home1.jpg" alt="Travis.S.Bass">
            <div class="cart-item-info">
                <h3>Travis.S.Bass</h3>
                <p>ขนาด: FREESIZE</p>
                <span class="quantity">1</span>
                <button class="decrease-button">-</button>
                <button class="increase-button">+</button>
                <span class="price">฿690</span>
            </div>
        </article>
        <article class="cart-item">
            <img src="/img/home2.jpg" alt="HB.Chucky">
            <div class="cart-item-info">
                <h3>HB.Chucky</h3>
                <p>ขนาด: FREESIZE</p>
                <span class="quantity">1</span>
                <button class="decrease-button">-</button>
                <button class="increase-button">+</button>
                <span class="price">฿690</span>
            </div>
        </article>
        <article class="cart-item">
            <img src="/img/home3.jpg" alt="HB.Chucky">
            <div class="cart-item-info">
                <h3>HB.Chucky</h3>
                <p>ขนาด: FREESIZE</p>
                <span class="quantity">1</span>
                <button class="decrease-button">-</button>
                <button class="increase-button">+</button>
                <span class="price">฿690</span>
            </div>
        </article>
        <article class="cart-item">
            <img src="/img/home4.jpg" alt="HB.Chucky">
            <div class="cart-item-info">
                <h3>HB.Chucky</h3>
                <p>ขนาด: FREESIZE</p>
                <span class="quantity">1</span>
                <button class="decrease-button">-</button>
                <button class="increase-button">+</button>
                <span class="price">฿690</span>
            </div>
        </article>
    </section>
    <section class="cart-total">
        <p>รวม</p>
        <span class="total-price">฿2,760.00</span>
    </section>
    <a href="#" class="checkout-button">ชำระเงิน</a>
</main>

























<%- include('partials/footer.ejs') %>