<%- include('partials/head.ejs') %>
    
<!-- Just an image -->
<link rel="stylesheet" href="/css/home.css">
<%- include('partials/nav.ejs') %>
  <body>
    
    <section class="hidden">
      <div class="logo">
        <img src="/img/LOGINIMG.jpg" alt="้page1" id="main-home">
        <h1>TRULY</h1>
        <a href="shit">
          <button type="button" class="btn btn-outline-light">More</button>
        </a>
      </div>
    </section>

    <section class="hidden">
      <div class="itemshop">
        <div class="logo hidden">
          <img src="/img/home1.jpg" alt="home1" width="400" height="400" id="shirt">
        </div>
        <div class="logo hidden">
          <img src="/img/home2.jpg" alt="home2" width="400" height="400" id="shirt">
        </div>
        <div class="logo hidden">
          <img src="/img/home3.jpg" alt="home3" width="400" height="400" id="shirt">
        </div>
        <div class="logo hidden">
          <img src="/img/home4.jpg" alt="home4" width="400" height="400" id="shirt">
        </div>
      </div>
      <a href="shit">
        <button type="button" class="btn btn-outline-secondary">More</button>
      </a>
    </section>

    <section class="hidden">
        <img src="/img/page2.png" alt="page3" id="main-home2">
        <a href="shit">
          <button type="button" class="btn btn-outline-light">More</button>
        </a>
    </section>

    <section class="hidden">
        <img src="https://api.trulybkk.com/uploads/HOME_Welcome_to_the_real_world_dfe56cc001.jpg"  alt="page3" id="main-home2">
        <a href="shit">
          <button type="button" class="btn btn-outline-light">More</button>
        </a>
    </section> 

    <section class="hidden">
        <img src="/img/page3.png" alt="page3" id="main-home2">
        <a href="shit">
          <button type="button" class="btn btn-outline-light">More</button>
        </a>
    </section>

    <section class="hidden">
        <img src="https://images.unsplash.com/photo-1588444968576-f8fe92ce56fd?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="page3" id="main-home2">
        <a href="shit">
          <button type="button" class="btn btn-outline-light">More</button>
        </a>
    </section>

    

    
  
    
  </body>
  
  
  



  
  
    



 <%- include('partials/footer.ejs') %>