<%- include('partials/head.ejs') %>
<%- include('partials/nav.ejs') %>
<link rel="stylesheet" href="/css/information.css">
<script src="/js/information.js"></script>

  <main>
    <section class="profile">
      

      <div class="form-group">
        <h2 class="h2">ข้อมูลส่วนตัว</h2>
        <div class="form-row">
          <label for="name">Name : ณรัฐพัฒน์</label>
          <label for="midname">Middle Name : - </label>
          <label for="surname" >นามสกุล : แสนศิริทวีสุข</label>
          <div class="form-row">
            <label for="user-name">User Name : jefzaboypr</label>
            <label for="user-id">User ID : swkaiza007</label>
          </div>
          <div class="form-row">
            <label for="tel-phone">เบอร์โทรศัพท์ : 083-743-5132</label>
            <label for="email">Email : jefzaboypr@gmail.com</label> 
          </div>
          <label for="sex">เพศ : ชาย</label>
        <h2 class="h2">ที่อยู่</h2>
            <div class="form-row">
            <label for="province">จังหวัด : ปทุมธานี</label>
            <label for="street">ถนน : เชียงราก</label>
            <label for="zipcode">รหัสไปรษณีย์ : 12120</label>
            <label for="district">อำเภอ : คลองหลวง</label>
            <label for="about">ที่อยู่ : U House มธ ห้อง 819, 69/9,ตำบล คลองหนึ่ง</label>
            </div>  
            <a href="">
              <button type="config" id="config">แก้ไข</button>
            </a>
          
        </div>
      </div>

      
        
    </section>
  </main>

<%- include('partials/footer.ejs') %>